/*===========================*/
/*       Global Styles       */
/*===========================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 .fadeOut {
     opacity: 0;
     pointer-events: none;
 }

/*===========================*/
/*      Fonts To Be Used     */
/*===========================*/
/* font-family: 'Alata', sans-serif;
font-family: 'Gochi Hand', cursive;
font-family: 'Press Start 2P', cursive;